<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
        <script src="../static/js/post_it.js" type="text/javascript"></script>
	</head>
	<body>
	<h1>
        Post a task
	</h1>
    <div class="bs-example">
        <form role="form">
        <textarea class="form-control" rows="3" id="text_data"></textarea>
        </form>
    </div>
	<a href="" class="btn btn-primary" onclick="submit_task()">Submit Task</a>
	</body>
</html>
